<h1>Reflect Content</h1>

<h1><%= @activity.title %></h1>
<p>from the <%=@activity.track %> track</p> 

<h2><%= @activity.reflect_content %></h2>

<%= link_to 'Next', respond_activity_path %></br>
<%= link_to 'Back', receive_activity_path %></br>
<%= link_to 'Home', posts_path %>