
<h1><%= @activity.title %></h1>
<p>from the <%=@activity.track %> track</p> 

<%= link_to 'Next', receive_activity_path %></br>
<%= link_to 'Back', selected_activities_path %></br>
<%= link_to 'Home', posts_path %>